{% extends "inventory/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% block head %}
    <link rel="stylesheet" href="{% static 'inventory/job_details.css' %}">
    <link rel="stylesheet" href="{% static 'inventory/tables.css' %}">
    <link rel="stylesheet" href="{% static 'inventory/modal.css' %}">
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock head %}
{% block content %}
    <script>
        $(document).ready(function() {
            $(".new-service").modalForm({
                formURL: "{% url 'new_service' view.kwargs.pk %}"
            });
            $(".new-part").modalForm({
                formURL: "{% url 'new_jobpart' view.kwargs.pk %}"
            });
            $(".edit-job").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".delete-job").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".edit-service").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".delete-service").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".edit-jobpart").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".delete-jobpart").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $("#email_invoice").click(function(){ // upon emailing an invoice...
                if($("#email_invoice").hasClass("btn-danger")) { // initially change button color back to normal if retrying after error
                    $("#email_invoice").toggleClass('btn-danger btn-info');
                }
                $("#email_invoice").html("Sending...")
                $.ajax({
                    url: "/jobs/email_invoice/{{ view.kwargs.pk }}",
                    statusCode: {
                        200: function (response) { // success
                            $("#email_invoice").html("Invoice Sent");
                        },
                        400: function (response) { // no customer email provided
                            $("#email_invoice").toggleClass('btn-info btn-danger');
                            $("#email_invoice").html("No Customer Email")
                        },
                        404: function (response) { // job doesn't exist
                            $("#email_invoice").toggleClass('btn-info btn-danger');
                            $("#email_invoice").html("Job Not Found")
                        },
                        500: function (response) { // email failed to send
                            $("#email_invoice").toggleClass('btn-info btn-danger');
                            $("#email_invoice").html("Server Error")
                        },
                    }
                });
            });
        });
    </script>
    <div class="wrapper">
        {% include "inventory/sidebar.html" %}
        <div class="container-fluid vh-100">
            {% include "inventory/navbar.html" %}
            <div class="container-fluid">
                <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-white"></div>
                    </div>
                </div>
                <div class="card mt-3 bg-dark">
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class='alert alert-{{ message.level_tag }} offset-lg-1 col-md-10'>
                                    {% if 'safe' in message.tags %}
                                        {{ message|safe }}
                                    {% else %}
                                        {{ message }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    <div class="row text-white">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="border-bottom">Customer</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Name</div>
                                <div class="col-md-6">{{ job.customer_name }}</div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6 field">Phone</div>
                                    <div class="col-md-6">{{ job.customer_phone }} </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6 field">Email</div>
                                <div class="col-md-6"><a href="mailto:{{ job.customer_email }}" class="text-white">{{ job.customer_email }}</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="border-bottom">Details</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Vehicle</div>
                                <div class="col-md-6">{{ job.vehicle }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Created</div>
                                <div class="col-md-6">{{ job.created }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Status</div>
                                <div class="col-md-6 font-weight-bold {% if job.status == 'C' %}text-success{% elif job.status == 'IP' %}text-warning {% else %}text-danger{% endif %}">{{ job.get_status_display }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Notes</div>
                                <div class="col-md-6">{{ job.notes }}</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="border-bottom">Totals</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Labor</div>
                                <div class="col-md-6">${{ prices.labor_price }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Parts</div>
                                <div class="col-md-6">${{ prices.parts_price }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Tax</div>
                                <div class="col-md-6">${{ prices.tax }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 field">Total</div>
                                <div class="col-md-6">${{ prices.total }}</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="border-bottom">Actions</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type='button' title="Edit Job" class="edit-job btn btn-block btn-primary mb-1" data-id="{% url 'edit_job' view.kwargs.pk %}"><span class='fa fa-pencil'></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" title="Delete Job" class="delete-job btn btn-block btn-danger mb-1" data-id="{% url 'delete_job' view.kwargs.pk %}"><span class='fa fa-trash'></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'view_invoice' view.kwargs.pk %}"><button title="View Invoice" class="btn btn-block btn-success mb-1"><span class="fas fa-file-download"></button></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="email_invoice" title="Email Invoice" class="btn btn-block btn-info"><span class="fas fa-paper-plane"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-white mt-3">
                        <div class="col-md-6">
                            <h2 class="border-bottom">Services</h2>
                            <button title="New Service" class="new-service btn btn-success mb-1" type="button" name="button">
                                <i class="fas fa-plus"></i>
                            </button>
                            {% render_table tables.0 %}
                        </div>
                        <div class="col-md-6">
                            <h2 class="border-bottom">Parts</h2>
                            <button title="New Part" class="new-part btn btn-success mb-1" type="button" name="button">
                                <i class="fas fa-plus"></i>
                            </button>
                            {% render_table tables.1 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}