{% extends "inventory/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% block head %}
    <link rel="stylesheet" href="{% static 'inventory/job_details.css' %}">
    <link rel="stylesheet" href="{% static 'inventory/tables.css' %}">
    <link rel="stylesheet" href="{% static 'inventory/modal.css' %}">
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <link href="/static/admin/css/vendor/select2/select2.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/autocomplete_light/select2.css" type="text/css" media="screen" rel="stylesheet">
    <script src="/static/admin/js/vendor/select2/select2.full.js"></script>
    <script src="/static/autocomplete_light/autocomplete_light.js"></script>
    <script src="/static/autocomplete_light/select2.js"></script>
    <script src="/static/autocomplete_light/i18n/en.js"></script>
{% endblock head %}
{% block content %}
    <script>
        $(document).ready(function() {
            $(".new-service").modalForm({
                formURL: "{% url 'new_service' view.kwargs.pk %}"
            });
            $(".new-part").modalForm({
                formURL: "{% url 'new_jobpart' view.kwargs.pk %}"
            });
            $(".new-part-singleuse").modalForm({
                formURL: "{% url 'new_jobpart_singleuse' view.kwargs.pk %}"
            });
            $(".edit-job").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".delete-job").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".edit-service").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".delete-service").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".edit-jobpart").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".delete-jobpart").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".edit-jobpart-singleuse").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".delete-jobpart-singleuse").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
        });
    </script>
    <div class="wrapper">
        {% include "inventory/sidebar.html" %}
        <div class="container-fluid vh-100">
            {% include "inventory/navbar.html" %}
            <div class="container-fluid">
                <div class="modal fade" role="dialog" id="modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-white"></div>
                    </div>
                </div>
                <div class="card mt-3 bg-dark">
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class='alert alert-{{ message.level_tag }} offset-lg-1 col-md-10'>
                                    {% if 'safe' in message.tags %}
                                        {{ message|safe }}
                                    {% else %}
                                        {{ message }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    <div class="row text-white">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="border-bottom">Customer</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 field">Name</div>
                                <div class="col-md-8">{{ job.customer_name }}</div>
                            </div>
                                <div class="row">
                                    <div class="col-md-4 field">Phone</div>
                                    <div class="col-md-8">{{ job.customer_phone }} </div>
                                </div>
                            <div class="row">
                                <div class="col-md-4 field">Email</div>
                                <div class="col-md-8"><a href="mailto:{{ job.customer_email }}" class="text-white">{{ job.customer_email }}</a></div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="border-bottom">Details</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 field">Vehicle</div>
                                <div class="col-md-9">{{ job.vehicle }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 field">Created</div>
                                <div class="col-md-9">{{ job.created }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 field">Status</div>
                                <div class="col-md-9 font-weight-bold {% if job.status == 'C' %}text-success{% elif job.status == 'IP' %}text-warning {% else %}text-danger{% endif %}">{{ job.get_status_display }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 field">Notes</div>
                                <div class="col-md-9">{{ job.notes }}</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="border-bottom">Totals</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 field">Labor</div>
                                <div class="col-md-7">${{ prices.labor_price }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 field">Parts</div>
                                <div class="col-md-7">${{ prices.parts_price }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 field">Tax</div>
                                <div class="col-md-7">${{ prices.tax }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 field">Total</div>
                                <div class="col-md-7">${{ prices.total }}</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="border-bottom">Actions</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type='button' title="Edit Job" class="edit-job btn btn-block btn-primary mb-1" data-id="{% url 'edit_job' view.kwargs.pk %}"><span class='fa fa-pencil'></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" title="Delete Job" class="delete-job btn btn-block btn-danger mb-1" data-id="{% url 'delete_job' view.kwargs.pk %}"><span class='fa fa-trash'></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'view_invoice' view.kwargs.pk %}"><button title="View Invoice" class="btn btn-block btn-success mb-1"><span class="fas fa-file-download"></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-white mt-3">
                        <div class="col-md-6">
                            <h2 class="border-bottom">Services</h2>
                            <button title="New Service" class="new-service btn btn-success mb-1" type="button" name="button">
                                <i class="fas fa-plus"></i>
                            </button>
                            {% render_table tables.0 %}
                        </div>
                        <div class="col-md-6">
                            <h2 class="border-bottom">Parts from Inventory</h2>
                            <button title="New Part" class="new-part btn btn-success mb-1" type="button" name="button">
                                <i class="fas fa-plus"></i>
                            </button>
                            {% render_table tables.1 %}
                        </div>
                    </div>
                    <div class="row text-white mt-3">
                        <div class="offset-md-6 col-md-6">
                            <h2 class="border-bottom">Parts (Single-Use)</h2>
                            <button title="New Part" class="new-part-singleuse btn btn-success mb-1" type="button" name="button">
                                <i class="fas fa-plus"></i>
                            </button>
                            {% render_table tables.2 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}