<div class="modal-header">
    <h5 class="modal-title">{{ modal_title }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {% if jobparts %}
        {{ jobparts.count }} {% if jobparts.count > 1 %}jobs{% else %}job{% endif %} with <strong>{{ part }}</strong>:
            <ul>
            {% for jp in jobparts %}
                <li class="mt-2"><a href="{% url 'job_details' jp.job.pk %}" style="color:#f5b914;"><strong>#{{ jp.job.pk }} / {{ jp.job }}</strong></a>
                <br>(Quantity: {{ jp.quantity }}, Unit Price: ${{ jp.unit_price }})</li>
            {% endfor %}
            </ul>
    {% else %}
        There are no jobs with <strong>{{ part }}</strong>.
    {% endif %}
</div>
<div class="modal-footer">
</div>