.modal-content {
    background-color:#212b31;
}

button[data-dismiss="modal"] {
    color:white;
}

.close:hover {
    color:red;
}

span.select2-selection.select2-selection--single.modelselect2.form-control {
    overflow: hidden !important;
    height:calc(1.5em + .75rem + 2px);
}