#sidebar {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    min-width: 100px;
    max-width: 100px;
    top: 0;
    height: 100%;
    align-self: flex-start;
    transition: all 0.3s;
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: stretch;
    overflow: auto;
}

#sidebar.active {
    margin-left: -100px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -100px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar i {
    font-size:3rem;
}

#sidebar a {
    color: #f5b914;
}

#sidebar a:hover {
    color:#936f0c;
}

#sidebar li {
    padding-top:3rem;
    text-align:center;
}